<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h1 class="text-center">SUCCESS!</h1>
    <br><br>
    <a href="/heroes" class="btn squads">See Heros</a>
  </div>
  <div class="col-sm-4"></div>
</div>